<html>
<head>
  <title>View Detections</title>
</head> 
<body>
  <h1>Detections</h1>
  <!-- <div>
    <h2>Occupancy Grid</h2>
    <img src="detections/occupancy_grid.png" alt="Occupancy Grid" width="600">
  </div> -->
  <div>
    <h2>3D Map</h2>
    <img src="detections/3d_map.png" alt="3D Map" width="600">
  </div>
  <div>
    <h2>Pose Graph</h2>
    <img src="detections/pose_graph.png" alt="Pose Graph" width="600">
  </div>
  {% for img in images %}
    <div>
      <img src="{{ img }}" alt="Detection Image" width="600">
    </div>
  {% endfor %}
  <!-- <div>
    <h2>Map Data File</h2>
    <a href="/static/detections/map_data.pkl" download>Download map_data.pkl</a>
  </div> -->
  <button onclick="window.location.href='/'">Back to Home</button>
</html>