<html>
<head>
  <title>View Detections</title>
  <style>
    .detections-row {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      margin-bottom: 30px;
    }
    .detection-card {
      border: 1px solid #ccc;
      padding: 10px;
      text-align: center;
      width: 420px;
      background: #f9f9f9;
    }
  </style>
</head> 
<body>
  <h1>Detections</h1>
  <!-- <div>
    <h2>Occupancy Grid</h2>
    <img src="detections/occupancy_grid.png" alt="Occupancy Grid" width="600">
  </div> -->
  <div>
    <h2>3D Map</h2>
    <img src="detections/3d_map.png" alt="3D Map" width="600">
  </div>
  <div>
    <h2>Pose Graph</h2>
    <img src="detections/pose_graph.png" alt="Pose Graph" width="600">
  </div>
  <div>
    <h2>All Detected Images</h2>
    {% for node_id, classes in node_images.items() %}
        <h2>Node {{ node_id }}</h2>
        <form action="{{ url_for('navigate_to_node', node_id=node_id) }}" method="post" style="margin-bottom:20px;">
            <button type="submit">Navigate to Node {{ node_id }}</button>
        </form>
        {% for class_name, detections in classes.items() %}
        <h3>Class: {{ class_name }}</h3>
        <div class="detections-row">
            {% for det in detections %}
            <div class="detection-card">
                <img src="{{ det.file }}" alt="{{ class_name }}" width="200">
                <p>Confidence: {{ det.confidence }}</p>
                <p>BBox: {{ det.bbox }}</p>
            </div>
            {% endfor %}
        </div>
        <!-- {% for det in detections %}
            <div>
            <img src="{{ det.file }}" alt="{{ class_name }}" width="400">
            <p>Confidence: {{ det.confidence }}</p>
            <p>BBox: {{ det.bbox }}</p>
            </div>
        {% endfor %} -->
        {% endfor %}
    {% endfor %}
  </div>

  <!-- <div>
    <h2>Map Data File</h2>
    <a href="/static/detections/map_data.pkl" download>Download map_data.pkl</a>
  </div> -->
  <button onclick="window.location.href='/'">Back to Home</button>
</html>